*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background: #0d1323;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* GRID LAYOUT */
.container{
    display: grid;
    margin: auto;
    grid-template-columns: 230px repeat(3, 1fr);
    grid-template-rows: repeat(2, 220px);
    gap: 20px;
    width: 1000px;
    
}

/* PROFILE CARD */
.profile-card{
    grid-row: span 2;
    background:#1d204b;
    border-radius: 20px;
    overflow: hidden;
    height: 100%;

}
.profile-info{
    background: #5746ea;
    padding: 30px;
    border-radius: 20px;
    height:70%;
}
.profile-info img{
    width: 100px;
    height: 100px;
    border: 3px solid white;
    border-radius: 50%;
    margin-bottom: 30px;
}
.profile-info p{
    color: #383b78;
    font-size: 14px;
}
.profile-info h1{
    color:white;
    margin-top: 5px;
    font-weight: normal;
}
.time-options{
    padding: 25px;
}
.time-options p{
    color: #7078c9;
    margin-bottom: 15px;
    cursor: pointer;
}
.time-options .active{
    color: #979aaf;
}

/*ACTIVITY CARDS*/
.activity-card{
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    padding-top: 40px;
    height: 100%;
    width: 100%;
}
.card-content{
    background: #1d204b;
    padding: 25px;
    border-radius: 10px;
    height: 85%;
    width: 100%;
    margin-top: 39px;
}
.card-header{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 20px;
}
.container h2{
    font-size: 36px;
    color: white;
    margin-bottom: 10px;
    font-weight: normal;
}
.container p{
    color: #9fa4ff;
    font-size: 14px;
}

/*Top colors*/
.card-work{
    background: #ff8b64;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}
.card-play{
    background: #56c2e6;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}
.card-study{
    background: #ff5e7d;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}
.card-exercise{
    background: #4bcf83;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}
.card-social{
    background: #7235d1;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}
.card-selfcare{
    background: #f1c75b;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

/* Hover Effect*/
.card-content{
    background: #1d204b;
    cursor: pointer;
}


